<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yatai.suningfiredepartment">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.yatai.suningfiredepartment.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yatai.suningfiredepartment.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".view.activity.SplashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/ActivityTranslucentTheme" />

        <!-- 高德地图api key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a55a7743a246b24a3f9da5636bf6e6b5" />

        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="false"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".view.activity.MainActivityLand"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".view.activity.FocusGroupActivity"
            android:theme="@style/ActivityTranslucentTheme" />
        <activity
            android:name=".view.activity.InfoDetailActivity"
            android:theme="@style/ActivityTranslucentTheme" />
        <activity
            android:name=".view.activity.SubGridActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="false"
            android:theme="@style/ActivityTranslucentTheme" />
        <activity
            android:name=".view.activity.SubGridActivityLand"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="false"
            android:theme="@style/ActivityTranslucentTheme" />
        <activity
            android:name=".view.activity.SubWorkActivity"
            android:theme="@style/ActivityTranslucentTheme" />
        <activity
            android:name=".view.activity.WorkDetailActivity"
            android:theme="@style/ActivityTranslucentTheme" />
        <activity
            android:name=".view.activity.WorkDetailFinishActivity"
            android:theme="@style/ActivityTranslucentTheme" />
        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b206ad6a40fa310600006c1" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="YaTai" />

        <activity
            android:name=".view.activity.ImageBrowseActivity"
            android:theme="@style/ActivityTranslucentTheme" />
        <activity
            android:name=".view.activity.InfoListActivity"
            android:theme="@style/ActivityTranslucentTheme" />
        <activity
            android:name=".view.activity.FocusPlaceActivity"
            android:theme="@style/ActivityTranslucentTheme" />
        <activity
            android:name=".view.activity.DepartmentWorkActivity"
            android:theme="@style/ActivityTranslucentTheme" />
        <activity
            android:name=".view.activity.SubWorkCalendarActivity"
            android:theme="@style/ActivityTranslucentTheme" />
        <activity
            android:name=".view.activity.SubWorkScheduleActivity"
            android:theme="@style/ActivityTranslucentTheme" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.yatai.suningfiredepartment" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.activity.JpushActivity"
            android:launchMode="singleTask"
            android:theme="@style/ActivityTranslucentTheme" />
        <activity
            android:name=".view.activity.LoginMessageActivity"
            android:theme="@style/ActivityTranslucentTheme" />
        <activity android:name=".view.activity.DocumentActivity"
            android:theme="@style/ActivityTranslucentTheme" />
    </application>

</manifest>